*{
    box-sizing: border-box;
    margin: 0;
}
img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.img-figure::before{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
}